/* corpo do site*/
#logov{
	color:rgb(50, 132, 94);
	font-size:1.5em;
	font-family:Yellowtail;
	font-weight:500;
	}


#espaço{
	margin: 0px 10px;
	background-color:#DCBE00;
	border-color:#DCBE00;

}


button:hover#espaço{
background-color:#B69E00;
border-color:#B69E00;
}

div#bodycont h2{
	font-size:50px;
	text-align:center;
	font-family:"Roboto", serif;
	padding-top:20px;
	padding-right:auto;
}


footer .footer-social{
	float:right;
}
footer ul{
list-style-type:none;

}
footer div img{
	float: left;
	position: relative;
	left:0;
	margin-top:5vh;
	margin-right:auto;
}
footer p , footer ul{
	margin:auto;
	padding:auto;
}


