/* google fonts yellowtail*/


.btn-outline-warning { border: 0px } 

.btn-outline-success{ border: 0px }

.offcanvas-end{ height: 60px; border: 0px }

#dropdown-btn { height: 50px; width:90px }

.navbar-dark{background-color: rgb(37, 37, 39)  }

/* bottom bar*/
.sidebar {
	background-color:rgb(37, 37, 39) ;
    height: 300px ;
    width:70px ;
    position: fixed ;
    top: 0 ;
    left: 0 ;     
    padding-top: 20px ;
	}

.main{padding-left:70px}

.offcanvas-start{ background-color: rgb(37, 37, 39)  ;width:200px}

.side-item{ z-index:-1;width:50px; height:40px; margin-left:-5px; }

.offcanvas-item{width:200px; height:40px; padding-top:0px }

/* corpo do site*/
#logov{
	color:rgb(50, 132, 94);
	font-size:1.5em;
	font-family:Yellowtail;
	font-weight:500;
	}


#rodape{
	width:auto;
	height:10%;
	background-color:#212529;
	color:white;
	text-align:center;
	padding:40px;
	float:auto;
	position:relative;
	top:70px;
}

#espaço{
	margin: 0px 10px;	
	background-color:#1616ba;
	border-color:#1616ba;

}


button:hover#espaço{
background-color:darkblue;
border-color:darkblue;

}

#bodycont{
	width:700px;
	height:500px;
	max-height:1200px;
	background-color:#FFFFFF;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-top:30px;
	padding:auto;

}

body{
	background-color:#FBF8FB;
}

ul.dropdown-menu li a:link.dropdown-item{
	color:white;
}

ul.dropdown-menu {
	background-color:#212529;

}

ul.dropdown-menu li a:hover.dropdown-item{
	color:white;
	background-color:#0C0C0C;
}

ul.dropdown-menu li a:visited.dropdown-item{
	color:#EAE8E8;
	background-color:#0C0C0C;
}
div#bodycont h2{
	font-size:50px;	
	text-align:center;
	font-family:"Roboto", serif;
	padding-top:20px;
	padding-right:auto;
}

.membros{
	border: solid 2px white;
	background-color:black;
	border-radius:100%;
}
